$limeGreen: hsl(163, 72%, 41%);
$BrightRed: hsl(356, 69%, 56%);
$Facebook: hsl(208, 92%, 53%);
$Twitter: hsl(203, 89%, 53%);
$YouTube: hsl(348, 97%, 39%);

// Dark Theme

$BGveryDarkBlue: hsl(230, 17%, 14%);
$BGtopDark: hsl(232, 19%, 15%);
$BGcardDark: hsl(228, 28%, 20%);
$TextDark1: hsl(228, 34%, 66%);
$TextDark2: hsl(0, 0%, 100%);

// Light Theme

$BG: hsl(0, 0%, 100%);
$BGtopLight: hsl(225, 100%, 98%);
$BGcardLight: hsl(227, 47%, 96%);
$TextLight1: hsl(228, 12%, 44%);
$TextLight2: hsl(230, 17%, 14%);