.layout-card {
  width: 80%;
  

  display: flex;
  flex-direction: column;

  align-items: center;
  
 
}

.layout-overview {
  width: 80%;
  display: flex;

  flex-direction: column;

  margin-top: 40px;

  
}